<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../../styles/chat.css" />
</head>

<body>
    <main class="main">
        <section class="chatSection">

            <div class="senderMessage">
                <p>hello im scott boragay a 17 years old and im a filipino citizen who want to master
                    everything i dont want to be weak but to be strong </p>
            </div>
                        <div class="senderMessage">
                <p>hello im scott boragay a 17 years old and im a filipino citizen who want to master
                    everything i dont want to be weak but to be strong </p>
            </div>
             <div class="senderMessage">
                <p>hello im scott boragay a 17 years old and im a filipino citizen who want to master
                    everything i dont want to be weak but to be strong </p>
            </div>
            </div>
        </section>
        <section class="message-section">
            <button class="imageButton">
                <img src="https://img.icons8.com/?size=30&id=AUpdlW8CE4IS&format=png&color=000000" alt="image" />
            </button>
            <input placeholder="message.." type="text" class="messageInput" />
            <button class="sendButton">
                <img src="https://img.icons8.com/?size=20&id=93330&format=png&color=000000" alt="image"></button>
        </section>
    </main>
    <script type="module"  src="./chat-page.js"></script>
</body>

</html>