body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 65px 1fr 50px;
    overflow: hidden;
}


.message-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imageButton {
    height: auto;
    background-color: transparent;
    border: 1px solid rgb(136, 133, 133);
    padding: 3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.messageInput {
    height: 2rem;
    padding: 4px 3rem 1px 1.5rem;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(255, 249, 249);
    border: 0.1px solid rgb(168, 168, 168);
}

.sendButton {
    height: auto;
    border-radius: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.messageInput:focus {
    border: 1px solid rgb(87, 87, 97);
}

.messageBox,
.senderMessage {
    height: auto;
    width: auto;
    max-width: 12rem;
    padding: 5px 20px 5px 20px;
    background-color: rgb(171, 190, 187);
    border-radius: 1rem;
}

.chatSection {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 10px;
    gap: 1rem;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.senderMessage {
    align-self: start;
    margin-left: 1rem;
    background-color: rgb(128, 161, 156);
}

.sendButton:active {
    background-color: rgb(175, 171, 171);
}

.navigationBar {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navLine1,
.navLine2 {
    width: 2.5px;
    height: 20px;
    background-color: rgb(165, 157, 157);
}

.navButton {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navLine2 {
    width: 20px;
    height: 2.5px;
    transform: rotate(90deg);
    transition: 0.5s;
}

.navButton:focus .navLine2 {
    transform: rotate(0deg);
    transition: 0.5s;
}

.profileNav {
    width: 11rem;
    height: 2.8rem;
    position: absolute;
    right: 10px;
    border-radius: 100vw;
    border: 0.2px solid rgb(173, 164, 164);
    display: flex;
    align-items: center;
    gap: 15px;
}

.userProfile {
    height: 2rem;
    width: 2rem;
    margin-left: 10px;
    border-radius: 100vh;
    border: none;
}

.messageSpacer{
    margin-bottom: auto;
}
.statusDot, .offStatus{
    margin: 0;
    position: absolute;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 100vw;
    background-color: green;
    bottom: 5px;
    left: 30px;
}
.offStatus{
    background-color: gray;
}