body {
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
    display: grid;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #73728a;
    background: linear-gradient(90deg, rgba(115, 114, 138, 1) 0%, rgba(39, 39, 66, 1) 0%, rgba(57, 93, 102, 1) 100%);

}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 0;
    padding-left: 1rem;
    gap: 5px;
    background: #73728a;
    background: linear-gradient(90deg, rgba(115, 114, 138, 1) 0%, rgba(39, 39, 66, 1) 0%, rgba(57, 93, 102, 1) 100%);
}

.userHead {
    background-color: rgb(255, 255, 255);
    flex-grow: 1.5;
    box-shadow: -2px 2px 20px -9px rgba(0, 0, 0, 0.62);
    z-index: 10;
}

.chats {
    background: rgb(255, 249, 249);
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
}

.accountCard {
    width: 18rem;
    height: 4rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: -2px 2px 20px -9px rgba(0, 0, 0, 0.62);
    padding-left: 2rem;
    flex-direction: row;
    gap: 10px;
}

.profile {
    height: 2rem;
    border-radius: 100vw;
}

.profileImage {
    height: 2rem;
    border-radius: 100vh;
}

.profileName {
    font-size: 1.2rem;
    width: auto;
}

.messagesHeader {
    color: rgb(81, 186, 212);
    font-family: "Roboto", sans-serif;

}