@media (min-width: 865px) {

    #main,
    #loginSection,
    #loginContainer,
    #top-design,
    .welcomeMessage,
    #chatLogo {
        all: unset;
    }

    #idConvoSymbol,
    #meChatLogo {
        display: none;
    }




    #main {
        height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: #1D2A42;
    }

    #top-design {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }



    #main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: "Roboto", sans-serif;
    }

    #loginSection {
        background-color: #5BA3F5;
        border-radius: 100vh 0 0 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        padding: 5rem;
    }

    #welcomeMessage {
        width: 20rem;
        font-size: 4em;
        margin-right: 10px;
        font-family: inherit;
        color: #5BA3F5;
        font-weight: 700;
    }

    #chatLogo{
        height:15rem;
    }

    .chatText{
        font-size: 5rem;
    }
}