body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 8rem;
}



.loginSection {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem 0 5rem 0;
    background-color: #5BA3F5;
    position: relative;
}

.loginContainer {
    height: auto;
    display: flex;
    gap: 10rem;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
}


.top-design {
    display: flex;
    z-index: 10;
}

.forms {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.password,
.username {
    padding-top: 12px; 
    padding-bottom: 12px;
    width: 15rem;
    padding-left: 10px ;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 600;
}

.btn-login {
    width: 15rem;
    padding: 7px 0;
    margin-top: 20px;
    align-self: center;
    background-color: rgb(158, 196, 196);
    border: none;
    border-radius: 5px;
}

.div {
    width: 10rem;
    height: 19rem;
}

.meChatLogo {
    height: 10rem;
    position: absolute;
    top: 10px;
}

.convoSymbol {
    height: 10rem;
    transform: rotate(-5deg);
    margin: 5px;
}

.passwordPlaceholder, .usernamePlaceholder {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 10px ;
    transition: 100ms ease;
}

