body {
    margin: 0;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 0.4fr;
    background-color: #1D2A42;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

.signupSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBox {
    height: 16rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.googleBox,
.instagramBox,
.facebookBox {
    height: 3.5rem;
    width: 85vw;
}

.googleBox,
.facebookBox,
.instagramBox {
    border: 1px solid white;
    max-width: 25rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    background-color: transparent;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    min-width: 5rem;
}

.facebookBox {
    border-color: #6976FF;
}


.instagramBox {
    border-color: #F26063;
}

.header {
    display: flex;
    align-items: end;
    padding: 10px;
    font-size: x-large;
    justify-content: center;
}

.loginHeader{
    display: flex;
    justify-content: center;
  }

.loginDir{
    color: white;
    border: none; 
    cursor: pointer;
}

.googleImage, .faceImage, .instaImage{
    height: 2rem;
}

.googleBox:hover{
    transition: 1s ease;
    background-color: white;
}

.facebookBox:hover{
    transition: 1s ease;
    background-color: #6976FF;
    color: #6976FF;
}
.instagramBox:hover{
    transition: 1s ease;
    background-color: #F26063;
    color: #F26063
}

