body {
    margin: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: #1D2A42;
    display: grid;
    grid-template-rows: 0.4fr 1fr;
    font-family: "Roboto", sans-serif;

}



.boxSection {
    padding: 1px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.boxForm {
    height: 21rem;
    width: 100%;
    max-width: 25rem;
    background-color: white;
    margin-bottom: 5rem;
}

.headerSection {
    color: white;
    font-size: x-large;
    display: flex;
    align-items: end;
    padding-left: 20px;
}

.personalDetails{
    margin-bottom: 10px;
}