<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <link rel="stylesheet" href="../../styles/loginRs.css"> 
    <title>login</title>
</head>

<body>
    <main id="main" class="main">
        <div id="top-design" class="top-design">
            <h1 class="welcomeMessage">Chat and discover</h1>
            <img id="idConvoSymbol" class="convoSymbol"
                src="https://res.cloudinary.com/doan4g4r9/image/upload/v1758113090/post-business-comms-removebg-preview_w1szuw.png">
        </div>
        </div>

        <section id="loginSection" class="loginSection">
            
            <img id="mcChatLogo" class="meChatLogo"
                src="https://res.cloudinary.com/doan4g4r9/image/upload/v1758112824/white_on_black-removebg-preview_iiul19.png"></img>
            <div id="loginContainer" class="loginContainer">

                <form id="forms"  class="forms">
                    <div id="usernameSection" class="usernameSection">
                        <h3 id="usernamePlaceholder" class="usernamePlaceholder">username</h3>
                        <input  required class="username" type="text" />
                    </div>


                    <div id="passwordSection" class="passwordSection">
                        <h3 id="passwordPlaceholder" class="passwordPlaceholder">Password</h3>
                        <input id="password" class="password" type="password" />
                    </div>

                    <button id="btn-login" class="btn-login">SIGN IN</button>

                </form>
            </div>
        </section>
    </main>
    <script type="module" src="./login.js"></script>
</body>

</html>