<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <title>login</title>
</head>

<body>
    <main class="main">
        <div class="top-design">
            <img class="convoSymbol"
                src="https://res.cloudinary.com/doan4g4r9/image/upload/v1758113090/post-business-comms-removebg-preview_w1szuw.png"></div>
        </div>

        <section class="loginSection">
            <img class="meChatLogo"
                src="https://res.cloudinary.com/doan4g4r9/image/upload/v1758112824/white_on_black-removebg-preview_iiul19.png"></img>
            <div class="loginContainer">
                <img class="forms">
                <input placeholder="username" required class="username" type="text" />
                <input placeholder="password" class="password" type="password" />
                <button class="btn-login">Sign in</button>
                </form>
            </div>
        </section>
    </main>
    <script type="module" src="./login.js"></script>
</body>

</html>