<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <link rel="stylesheet" href="../../styles/loginRs.css">
    <title>Login</title>
</head>

<body>
    <main id="main" class="main">
        <section class="header">
            <div class="brandMark">
                <img class="chatLogo"
                    src="https://res.cloudinary.com/doan4g4r9/image/upload/v1758112824/white_on_black-removebg-preview_iiul19.png"
                    alt="Me Chat">
                <span>Me Chat</span>
            </div>
        </section>

        <section class="loginSection">
            <div class="loginBox">
                <div class="loginIntro">
                    <p>Welcome back</p>
                    <h1>Login</h1>
                </div>

                <button type="button" class="oauthBox googleBox">
                    <img class="oauthImage googleImage"
                        src="https://res.cloudinary.com/doan4g4r9/image/upload/v1760085309/48131_ess0xo.png"
                        alt="">
                    <p>Google</p>
                </button>
                <button type="button" class="oauthBox facebookBox">
                    <img class="oauthImage faceImage"
                        src="https://res.cloudinary.com/doan4g4r9/image/upload/v1760086148/185-1854464_facebook-logo-png-transparent-background-removebg-preview_1_uwiru7.png"
                        alt="">
                    <p>Facebook</p>
                </button>
                <button type="button" class="oauthBox instagramBox">
                    <img class="oauthImage instaImage"
                        src="https://res.cloudinary.com/doan4g4r9/image/upload/v1760085257/logo-instagram-116587966427mvdfvahmo-removebg-preview_n9he3l.png"
                        alt="">
                    <p>Instagram</p>
                </button>

                <div class="loginDivider">
                    <span>or login manually</span>
                </div>

                <form class="forms">
                    <div class="boxForm">
                        <div class="inputGroup usernameSection">
                            <h3 class="fieldLabel usernamePlaceholder">username</h3>
                            <input required class="username" type="text" autocomplete="username">
                        </div>

                        <div class="inputGroup passwordSection">
                            <h3 class="fieldLabel passwordPlaceholder">Password</h3>
                            <input class="password" type="password" autocomplete="current-password">
                        </div>

                        <button class="btn-login">Login manually</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="signupHeader">
            <button type="button" class="signupDir">Need an account? <span>Sign up</span></button>
        </section>
    </main>
    <script type="module" src="./login.js"></script>
</body>

</html>
