<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="../../styles/signup.css" rel="stylesheet" />
</head>

<body>
    <main class="main">
        <section class="header">
            <h1>Sign up</h1>
        </section>
        <section class="signupSection">
            <div class="signupBox">
                <div class="googleBox"></div>
                <div class="facebookBox"></div>
                <div class="instagramBox"></div>
            </div>
        </section>
        <section class="loginHeader">
            <p>Already have account? <span style="opacity:50%;">Login</span></p>
        </section>
    </main>
</body>

</html>